body {
    margin: 0;
    padding: 0;
    background-color: #ceeaff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courgette', cursive;
}
h1 {
    color:#425ae6;
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    text-align: center;
}
.container {
    background-color: white;
    border: 2.2em #457ee9 solid;
    border-radius: 1em;
    width: 680px;
    height: 720px;
    display: grid;
    user-select: none;
}
.grp {
  display: flex;
}
.btngrp {
  display: flex;
  justify-content: center;
}
.gridgrp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* button effects */
.buttons {
    background-color: #457ee9;
    color: white;
    padding: 12px 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 1em 1.3em;
    width: 115px;
    height: 50px;
    font-family: 'Courgette', cursive;
    transition: transform .3s;
  }
#colorpicker {
  padding: 6px;
}
  
.buttons:hover {
    background-color: #425ae6;
    transform: scale(1.2);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content div {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }

  .color:hover {
      background-color: #dadada;
  }
   
  .show {display: block;}

  /* mediaquery */
@media screen and (max-width: 840px) {
  .btngrp {
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }
  .buttons {
    padding: 6px 0;
    font-size: 14px;
    margin: 0.5em 1em;
    width: 70px;
    height: 50px;
  }
  .container {
    width: 380px;
    height: 420px;
    border:1em #457ee9 solid;
  }
}
@media screen and (max-width: 425px) {
  h1 {
    font-size: 1.3rem;
    margin: 1rem;
  }
  label, .buttons {
    font-size: 0.8rem;
  }
  .buttons {
    height: 35px;
    width: 60px;
  }
  .btngrp {
    gap: 0.3rem;
  }
  #gridDisplay {
    margin: auto;
  }
  .container {
    width: 240px;
    height: 380px;
  }
}